body {
color:black;
background-color:white;
background-image:url(photo_poulpe.jpg);
}
h1 {

color:white;
text-align:center;
background-color:purple;
}

.bouton2 {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
